Interface/Web/Secv.Net/App_WebReferences/wsCial/wsCial.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s0="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="RetornarQtdClientesPorSetor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pPlanta" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pSetor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarQtdClientesPorSetorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RetornarQtdClientesPorSetorResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarQtdClientesPesq">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pPlanta" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pSetor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pDatIni" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="pDatFin" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarQtdClientesPesqResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RetornarQtdClientesPesqResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarClientesNaoPesqPorPeriodo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pPlanta" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pSetor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pDatIni" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="pDatFin" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarClientesNaoPesqPorPeriodoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornarClientesNaoPesqPorPeriodoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SISMKTRetornarVenda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pPlantaFaturamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPlantaSetores" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pGrpMrpSabEmbTam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pCodProdServ" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pData" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="pTipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pConversao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SISMKTRetornarVendaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SISMKTRetornarVendaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DiasUteis">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pPlanta" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pData" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="pTipo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DiasUteisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DiasUteisResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DiasUteisListar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pPlanta" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pData" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="pDias" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pTipo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DiasUteisListarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DiasUteisListarResult" type="s0:ArrayOfDateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDateTime">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="dateTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="CCFVExportarArquivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pPlanta" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pCodSetor" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pArquivoNome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pRegistos" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CCFVExportarArquivoResponse">
        <s:complexType />
      </s:element>
      <s:element name="CCFVImportar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pPlt_Planta" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="pSet_CodSet" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pExportacao" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CCFVImportarResponse">
        <s:complexType />
      </s:element>
      <s:element name="CCFVExportacaoCheckSetorAtualizado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pPlt_Planta" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="pSet_CodSet" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CCFVExportacaoCheckSetorAtualizadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CCFVExportacaoCheckSetorAtualizadoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CCFVExportacaoConfirmar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pPlt_Planta" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="pSet_CodSet" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CCFVExportacaoConfirmarResponse">
        <s:complexType />
      </s:element>
      <s:element name="CCFVExportacaoRetornar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pPlt_Planta" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="pSet_CodSet" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CCFVExportacaoRetornarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CCFVExportacaoRetornarResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfDateTime" nillable="true" type="s0:ArrayOfDateTime" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </types>
  <message name="RetornarQtdClientesPorSetorSoapIn">
    <part name="parameters" element="s0:RetornarQtdClientesPorSetor" />
  </message>
  <message name="RetornarQtdClientesPorSetorSoapOut">
    <part name="parameters" element="s0:RetornarQtdClientesPorSetorResponse" />
  </message>
  <message name="RetornarQtdClientesPesqSoapIn">
    <part name="parameters" element="s0:RetornarQtdClientesPesq" />
  </message>
  <message name="RetornarQtdClientesPesqSoapOut">
    <part name="parameters" element="s0:RetornarQtdClientesPesqResponse" />
  </message>
  <message name="RetornarClientesNaoPesqPorPeriodoSoapIn">
    <part name="parameters" element="s0:RetornarClientesNaoPesqPorPeriodo" />
  </message>
  <message name="RetornarClientesNaoPesqPorPeriodoSoapOut">
    <part name="parameters" element="s0:RetornarClientesNaoPesqPorPeriodoResponse" />
  </message>
  <message name="SISMKTRetornarVendaSoapIn">
    <part name="parameters" element="s0:SISMKTRetornarVenda" />
  </message>
  <message name="SISMKTRetornarVendaSoapOut">
    <part name="parameters" element="s0:SISMKTRetornarVendaResponse" />
  </message>
  <message name="DiasUteisSoapIn">
    <part name="parameters" element="s0:DiasUteis" />
  </message>
  <message name="DiasUteisSoapOut">
    <part name="parameters" element="s0:DiasUteisResponse" />
  </message>
  <message name="DiasUteisListarSoapIn">
    <part name="parameters" element="s0:DiasUteisListar" />
  </message>
  <message name="DiasUteisListarSoapOut">
    <part name="parameters" element="s0:DiasUteisListarResponse" />
  </message>
  <message name="CCFVExportarArquivoSoapIn">
    <part name="parameters" element="s0:CCFVExportarArquivo" />
  </message>
  <message name="CCFVExportarArquivoSoapOut">
    <part name="parameters" element="s0:CCFVExportarArquivoResponse" />
  </message>
  <message name="CCFVImportarSoapIn">
    <part name="parameters" element="s0:CCFVImportar" />
  </message>
  <message name="CCFVImportarSoapOut">
    <part name="parameters" element="s0:CCFVImportarResponse" />
  </message>
  <message name="CCFVExportacaoCheckSetorAtualizadoSoapIn">
    <part name="parameters" element="s0:CCFVExportacaoCheckSetorAtualizado" />
  </message>
  <message name="CCFVExportacaoCheckSetorAtualizadoSoapOut">
    <part name="parameters" element="s0:CCFVExportacaoCheckSetorAtualizadoResponse" />
  </message>
  <message name="CCFVExportacaoConfirmarSoapIn">
    <part name="parameters" element="s0:CCFVExportacaoConfirmar" />
  </message>
  <message name="CCFVExportacaoConfirmarSoapOut">
    <part name="parameters" element="s0:CCFVExportacaoConfirmarResponse" />
  </message>
  <message name="CCFVExportacaoRetornarSoapIn">
    <part name="parameters" element="s0:CCFVExportacaoRetornar" />
  </message>
  <message name="CCFVExportacaoRetornarSoapOut">
    <part name="parameters" element="s0:CCFVExportacaoRetornarResponse" />
  </message>
  <message name="RetornarQtdClientesPorSetorHttpGetIn">
    <part name="pPlanta" type="s:string" />
    <part name="pSetor" type="s:string" />
  </message>
  <message name="RetornarQtdClientesPorSetorHttpGetOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="RetornarQtdClientesPesqHttpGetIn">
    <part name="pPlanta" type="s:string" />
    <part name="pSetor" type="s:string" />
    <part name="pDatIni" type="s:string" />
    <part name="pDatFin" type="s:string" />
  </message>
  <message name="RetornarQtdClientesPesqHttpGetOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="RetornarClientesNaoPesqPorPeriodoHttpGetIn">
    <part name="pPlanta" type="s:string" />
    <part name="pSetor" type="s:string" />
    <part name="pDatIni" type="s:string" />
    <part name="pDatFin" type="s:string" />
  </message>
  <message name="RetornarClientesNaoPesqPorPeriodoHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="SISMKTRetornarVendaHttpGetIn">
    <part name="pPlantaFaturamento" type="s:string" />
    <part name="pPlantaSetores" type="s:string" />
    <part name="pGrpMrpSabEmbTam" type="s:string" />
    <part name="pCodProdServ" type="s:string" />
    <part name="pData" type="s:string" />
    <part name="pTipo" type="s:string" />
    <part name="pConversao" type="s:string" />
  </message>
  <message name="SISMKTRetornarVendaHttpGetOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="DiasUteisHttpGetIn">
    <part name="pPlanta" type="s:string" />
    <part name="pData" type="s:string" />
    <part name="pTipo" type="s:string" />
  </message>
  <message name="DiasUteisHttpGetOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="DiasUteisListarHttpGetIn">
    <part name="pPlanta" type="s:string" />
    <part name="pData" type="s:string" />
    <part name="pDias" type="s:string" />
    <part name="pTipo" type="s:string" />
  </message>
  <message name="DiasUteisListarHttpGetOut">
    <part name="Body" element="s0:ArrayOfDateTime" />
  </message>
  <message name="CCFVExportarArquivoHttpGetIn">
    <part name="pPlanta" type="s:string" />
    <part name="pCodSetor" type="s:string" />
    <part name="pArquivoNome" type="s:string" />
    <part name="pRegistos" type="s1:StringArray" />
  </message>
  <message name="CCFVExportarArquivoHttpGetOut" />
  <message name="CCFVImportarHttpGetIn">
    <part name="pPlt_Planta" type="s:string" />
    <part name="pSet_CodSet" type="s:string" />
    <part name="pExportacao" type="s1:StringArray" />
  </message>
  <message name="CCFVImportarHttpGetOut" />
  <message name="CCFVExportacaoCheckSetorAtualizadoHttpGetIn">
    <part name="pPlt_Planta" type="s:string" />
    <part name="pSet_CodSet" type="s:string" />
  </message>
  <message name="CCFVExportacaoCheckSetorAtualizadoHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="CCFVExportacaoConfirmarHttpGetIn">
    <part name="pPlt_Planta" type="s:string" />
    <part name="pSet_CodSet" type="s:string" />
  </message>
  <message name="CCFVExportacaoConfirmarHttpGetOut" />
  <message name="CCFVExportacaoRetornarHttpGetIn">
    <part name="pPlt_Planta" type="s:string" />
    <part name="pSet_CodSet" type="s:string" />
  </message>
  <message name="CCFVExportacaoRetornarHttpGetOut">
    <part name="Body" element="s0:base64Binary" />
  </message>
  <message name="RetornarQtdClientesPorSetorHttpPostIn">
    <part name="pPlanta" type="s:string" />
    <part name="pSetor" type="s:string" />
  </message>
  <message name="RetornarQtdClientesPorSetorHttpPostOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="RetornarQtdClientesPesqHttpPostIn">
    <part name="pPlanta" type="s:string" />
    <part name="pSetor" type="s:string" />
    <part name="pDatIni" type="s:string" />
    <part name="pDatFin" type="s:string" />
  </message>
  <message name="RetornarQtdClientesPesqHttpPostOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="RetornarClientesNaoPesqPorPeriodoHttpPostIn">
    <part name="pPlanta" type="s:string" />
    <part name="pSetor" type="s:string" />
    <part name="pDatIni" type="s:string" />
    <part name="pDatFin" type="s:string" />
  </message>
  <message name="RetornarClientesNaoPesqPorPeriodoHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="SISMKTRetornarVendaHttpPostIn">
    <part name="pPlantaFaturamento" type="s:string" />
    <part name="pPlantaSetores" type="s:string" />
    <part name="pGrpMrpSabEmbTam" type="s:string" />
    <part name="pCodProdServ" type="s:string" />
    <part name="pData" type="s:string" />
    <part name="pTipo" type="s:string" />
    <part name="pConversao" type="s:string" />
  </message>
  <message name="SISMKTRetornarVendaHttpPostOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="DiasUteisHttpPostIn">
    <part name="pPlanta" type="s:string" />
    <part name="pData" type="s:string" />
    <part name="pTipo" type="s:string" />
  </message>
  <message name="DiasUteisHttpPostOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="DiasUteisListarHttpPostIn">
    <part name="pPlanta" type="s:string" />
    <part name="pData" type="s:string" />
    <part name="pDias" type="s:string" />
    <part name="pTipo" type="s:string" />
  </message>
  <message name="DiasUteisListarHttpPostOut">
    <part name="Body" element="s0:ArrayOfDateTime" />
  </message>
  <message name="CCFVExportarArquivoHttpPostIn">
    <part name="pPlanta" type="s:string" />
    <part name="pCodSetor" type="s:string" />
    <part name="pArquivoNome" type="s:string" />
    <part name="pRegistos" type="s1:StringArray" />
  </message>
  <message name="CCFVExportarArquivoHttpPostOut" />
  <message name="CCFVImportarHttpPostIn">
    <part name="pPlt_Planta" type="s:string" />
    <part name="pSet_CodSet" type="s:string" />
    <part name="pExportacao" type="s1:StringArray" />
  </message>
  <message name="CCFVImportarHttpPostOut" />
  <message name="CCFVExportacaoCheckSetorAtualizadoHttpPostIn">
    <part name="pPlt_Planta" type="s:string" />
    <part name="pSet_CodSet" type="s:string" />
  </message>
  <message name="CCFVExportacaoCheckSetorAtualizadoHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="CCFVExportacaoConfirmarHttpPostIn">
    <part name="pPlt_Planta" type="s:string" />
    <part name="pSet_CodSet" type="s:string" />
  </message>
  <message name="CCFVExportacaoConfirmarHttpPostOut" />
  <message name="CCFVExportacaoRetornarHttpPostIn">
    <part name="pPlt_Planta" type="s:string" />
    <part name="pSet_CodSet" type="s:string" />
  </message>
  <message name="CCFVExportacaoRetornarHttpPostOut">
    <part name="Body" element="s0:base64Binary" />
  </message>
  <portType name="wsCialSoap">
    <operation name="RetornarQtdClientesPorSetor">
      <documentation>Obtem a quantidade de clientes existentes em cada setor</documentation>
      <input message="s0:RetornarQtdClientesPorSetorSoapIn" />
      <output message="s0:RetornarQtdClientesPorSetorSoapOut" />
    </operation>
    <operation name="RetornarQtdClientesPesq">
      <documentation>Obtem a quantidade de clientes pesquisados por unidade/setor em um determinado período</documentation>
      <input message="s0:RetornarQtdClientesPesqSoapIn" />
      <output message="s0:RetornarQtdClientesPesqSoapOut" />
    </operation>
    <operation name="RetornarClientesNaoPesqPorPeriodo">
      <documentation>Obtem a lista de clientes pesquisados de um determinado setor ou de todos os setores se um valor 0 for informado para o setor</documentation>
      <input message="s0:RetornarClientesNaoPesqPorPeriodoSoapIn" />
      <output message="s0:RetornarClientesNaoPesqPorPeriodoSoapOut" />
    </operation>
    <operation name="SISMKTRetornarVenda">
      <documentation>Retornar a venda</documentation>
      <input message="s0:SISMKTRetornarVendaSoapIn" />
      <output message="s0:SISMKTRetornarVendaSoapOut" />
    </operation>
    <operation name="DiasUteis">
      <documentation>Retornar o totais de dias uteis passados ate a data (Tipo = P) ou faltantes (Tipo = F)</documentation>
      <input message="s0:DiasUteisSoapIn" />
      <output message="s0:DiasUteisSoapOut" />
    </operation>
    <operation name="DiasUteisListar">
      <documentation>Obter listagem de dias úteis a partir de um dia específico. Parametro: pTipo = (LE) Lista todas as datas do intervalo incluindo pData; (LI) Lista todas as datas do intervalo excluindo pData;(EI) Lista somente a ultima data do intervalo incluindo pData; (EE) Lista somente a ultima data do intervalo excluindo pData))</documentation>
      <input message="s0:DiasUteisListarSoapIn" />
      <output message="s0:DiasUteisListarSoapOut" />
    </operation>
    <operation name="CCFVExportarArquivo">
      <input message="s0:CCFVExportarArquivoSoapIn" />
      <output message="s0:CCFVExportarArquivoSoapOut" />
    </operation>
    <operation name="CCFVImportar">
      <input message="s0:CCFVImportarSoapIn" />
      <output message="s0:CCFVImportarSoapOut" />
    </operation>
    <operation name="CCFVExportacaoCheckSetorAtualizado">
      <input message="s0:CCFVExportacaoCheckSetorAtualizadoSoapIn" />
      <output message="s0:CCFVExportacaoCheckSetorAtualizadoSoapOut" />
    </operation>
    <operation name="CCFVExportacaoConfirmar">
      <input message="s0:CCFVExportacaoConfirmarSoapIn" />
      <output message="s0:CCFVExportacaoConfirmarSoapOut" />
    </operation>
    <operation name="CCFVExportacaoRetornar">
      <input message="s0:CCFVExportacaoRetornarSoapIn" />
      <output message="s0:CCFVExportacaoRetornarSoapOut" />
    </operation>
  </portType>
  <portType name="wsCialHttpGet">
    <operation name="RetornarQtdClientesPorSetor">
      <documentation>Obtem a quantidade de clientes existentes em cada setor</documentation>
      <input message="s0:RetornarQtdClientesPorSetorHttpGetIn" />
      <output message="s0:RetornarQtdClientesPorSetorHttpGetOut" />
    </operation>
    <operation name="RetornarQtdClientesPesq">
      <documentation>Obtem a quantidade de clientes pesquisados por unidade/setor em um determinado período</documentation>
      <input message="s0:RetornarQtdClientesPesqHttpGetIn" />
      <output message="s0:RetornarQtdClientesPesqHttpGetOut" />
    </operation>
    <operation name="RetornarClientesNaoPesqPorPeriodo">
      <documentation>Obtem a lista de clientes pesquisados de um determinado setor ou de todos os setores se um valor 0 for informado para o setor</documentation>
      <input message="s0:RetornarClientesNaoPesqPorPeriodoHttpGetIn" />
      <output message="s0:RetornarClientesNaoPesqPorPeriodoHttpGetOut" />
    </operation>
    <operation name="SISMKTRetornarVenda">
      <documentation>Retornar a venda</documentation>
      <input message="s0:SISMKTRetornarVendaHttpGetIn" />
      <output message="s0:SISMKTRetornarVendaHttpGetOut" />
    </operation>
    <operation name="DiasUteis">
      <documentation>Retornar o totais de dias uteis passados ate a data (Tipo = P) ou faltantes (Tipo = F)</documentation>
      <input message="s0:DiasUteisHttpGetIn" />
      <output message="s0:DiasUteisHttpGetOut" />
    </operation>
    <operation name="DiasUteisListar">
      <documentation>Obter listagem de dias úteis a partir de um dia específico. Parametro: pTipo = (LE) Lista todas as datas do intervalo incluindo pData; (LI) Lista todas as datas do intervalo excluindo pData;(EI) Lista somente a ultima data do intervalo incluindo pData; (EE) Lista somente a ultima data do intervalo excluindo pData))</documentation>
      <input message="s0:DiasUteisListarHttpGetIn" />
      <output message="s0:DiasUteisListarHttpGetOut" />
    </operation>
    <operation name="CCFVExportarArquivo">
      <input message="s0:CCFVExportarArquivoHttpGetIn" />
      <output message="s0:CCFVExportarArquivoHttpGetOut" />
    </operation>
    <operation name="CCFVImportar">
      <input message="s0:CCFVImportarHttpGetIn" />
      <output message="s0:CCFVImportarHttpGetOut" />
    </operation>
    <operation name="CCFVExportacaoCheckSetorAtualizado">
      <input message="s0:CCFVExportacaoCheckSetorAtualizadoHttpGetIn" />
      <output message="s0:CCFVExportacaoCheckSetorAtualizadoHttpGetOut" />
    </operation>
    <operation name="CCFVExportacaoConfirmar">
      <input message="s0:CCFVExportacaoConfirmarHttpGetIn" />
      <output message="s0:CCFVExportacaoConfirmarHttpGetOut" />
    </operation>
    <operation name="CCFVExportacaoRetornar">
      <input message="s0:CCFVExportacaoRetornarHttpGetIn" />
      <output message="s0:CCFVExportacaoRetornarHttpGetOut" />
    </operation>
  </portType>
  <portType name="wsCialHttpPost">
    <operation name="RetornarQtdClientesPorSetor">
      <documentation>Obtem a quantidade de clientes existentes em cada setor</documentation>
      <input message="s0:RetornarQtdClientesPorSetorHttpPostIn" />
      <output message="s0:RetornarQtdClientesPorSetorHttpPostOut" />
    </operation>
    <operation name="RetornarQtdClientesPesq">
      <documentation>Obtem a quantidade de clientes pesquisados por unidade/setor em um determinado período</documentation>
      <input message="s0:RetornarQtdClientesPesqHttpPostIn" />
      <output message="s0:RetornarQtdClientesPesqHttpPostOut" />
    </operation>
    <operation name="RetornarClientesNaoPesqPorPeriodo">
      <documentation>Obtem a lista de clientes pesquisados de um determinado setor ou de todos os setores se um valor 0 for informado para o setor</documentation>
      <input message="s0:RetornarClientesNaoPesqPorPeriodoHttpPostIn" />
      <output message="s0:RetornarClientesNaoPesqPorPeriodoHttpPostOut" />
    </operation>
    <operation name="SISMKTRetornarVenda">
      <documentation>Retornar a venda</documentation>
      <input message="s0:SISMKTRetornarVendaHttpPostIn" />
      <output message="s0:SISMKTRetornarVendaHttpPostOut" />
    </operation>
    <operation name="DiasUteis">
      <documentation>Retornar o totais de dias uteis passados ate a data (Tipo = P) ou faltantes (Tipo = F)</documentation>
      <input message="s0:DiasUteisHttpPostIn" />
      <output message="s0:DiasUteisHttpPostOut" />
    </operation>
    <operation name="DiasUteisListar">
      <documentation>Obter listagem de dias úteis a partir de um dia específico. Parametro: pTipo = (LE) Lista todas as datas do intervalo incluindo pData; (LI) Lista todas as datas do intervalo excluindo pData;(EI) Lista somente a ultima data do intervalo incluindo pData; (EE) Lista somente a ultima data do intervalo excluindo pData))</documentation>
      <input message="s0:DiasUteisListarHttpPostIn" />
      <output message="s0:DiasUteisListarHttpPostOut" />
    </operation>
    <operation name="CCFVExportarArquivo">
      <input message="s0:CCFVExportarArquivoHttpPostIn" />
      <output message="s0:CCFVExportarArquivoHttpPostOut" />
    </operation>
    <operation name="CCFVImportar">
      <input message="s0:CCFVImportarHttpPostIn" />
      <output message="s0:CCFVImportarHttpPostOut" />
    </operation>
    <operation name="CCFVExportacaoCheckSetorAtualizado">
      <input message="s0:CCFVExportacaoCheckSetorAtualizadoHttpPostIn" />
      <output message="s0:CCFVExportacaoCheckSetorAtualizadoHttpPostOut" />
    </operation>
    <operation name="CCFVExportacaoConfirmar">
      <input message="s0:CCFVExportacaoConfirmarHttpPostIn" />
      <output message="s0:CCFVExportacaoConfirmarHttpPostOut" />
    </operation>
    <operation name="CCFVExportacaoRetornar">
      <input message="s0:CCFVExportacaoRetornarHttpPostIn" />
      <output message="s0:CCFVExportacaoRetornarHttpPostOut" />
    </operation>
  </portType>
  <binding name="wsCialSoap" type="s0:wsCialSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="RetornarQtdClientesPorSetor">
      <soap:operation soapAction="http://tempuri.org/RetornarQtdClientesPorSetor" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetornarQtdClientesPesq">
      <soap:operation soapAction="http://tempuri.org/RetornarQtdClientesPesq" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetornarClientesNaoPesqPorPeriodo">
      <soap:operation soapAction="http://tempuri.org/RetornarClientesNaoPesqPorPeriodo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SISMKTRetornarVenda">
      <soap:operation soapAction="http://tempuri.org/SISMKTRetornarVenda" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DiasUteis">
      <soap:operation soapAction="http://tempuri.org/DiasUteis" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DiasUteisListar">
      <soap:operation soapAction="http://tempuri.org/DiasUteisListar" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CCFVExportarArquivo">
      <soap:operation soapAction="http://tempuri.org/CCFVExportarArquivo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CCFVImportar">
      <soap:operation soapAction="http://tempuri.org/CCFVImportar" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CCFVExportacaoCheckSetorAtualizado">
      <soap:operation soapAction="http://tempuri.org/CCFVExportacaoCheckSetorAtualizado" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CCFVExportacaoConfirmar">
      <soap:operation soapAction="http://tempuri.org/CCFVExportacaoConfirmar" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CCFVExportacaoRetornar">
      <soap:operation soapAction="http://tempuri.org/CCFVExportacaoRetornar" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="wsCialHttpGet" type="s0:wsCialHttpGet">
    <http:binding verb="GET" />
    <operation name="RetornarQtdClientesPorSetor">
      <http:operation location="/RetornarQtdClientesPorSetor" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="RetornarQtdClientesPesq">
      <http:operation location="/RetornarQtdClientesPesq" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="RetornarClientesNaoPesqPorPeriodo">
      <http:operation location="/RetornarClientesNaoPesqPorPeriodo" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SISMKTRetornarVenda">
      <http:operation location="/SISMKTRetornarVenda" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DiasUteis">
      <http:operation location="/DiasUteis" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DiasUteisListar">
      <http:operation location="/DiasUteisListar" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CCFVExportarArquivo">
      <http:operation location="/CCFVExportarArquivo" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="CCFVImportar">
      <http:operation location="/CCFVImportar" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="CCFVExportacaoCheckSetorAtualizado">
      <http:operation location="/CCFVExportacaoCheckSetorAtualizado" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CCFVExportacaoConfirmar">
      <http:operation location="/CCFVExportacaoConfirmar" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="CCFVExportacaoRetornar">
      <http:operation location="/CCFVExportacaoRetornar" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="wsCialHttpPost" type="s0:wsCialHttpPost">
    <http:binding verb="POST" />
    <operation name="RetornarQtdClientesPorSetor">
      <http:operation location="/RetornarQtdClientesPorSetor" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="RetornarQtdClientesPesq">
      <http:operation location="/RetornarQtdClientesPesq" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="RetornarClientesNaoPesqPorPeriodo">
      <http:operation location="/RetornarClientesNaoPesqPorPeriodo" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SISMKTRetornarVenda">
      <http:operation location="/SISMKTRetornarVenda" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DiasUteis">
      <http:operation location="/DiasUteis" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DiasUteisListar">
      <http:operation location="/DiasUteisListar" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CCFVExportarArquivo">
      <http:operation location="/CCFVExportarArquivo" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="CCFVImportar">
      <http:operation location="/CCFVImportar" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="CCFVExportacaoCheckSetorAtualizado">
      <http:operation location="/CCFVExportacaoCheckSetorAtualizado" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CCFVExportacaoConfirmar">
      <http:operation location="/CCFVExportacaoConfirmar" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="CCFVExportacaoRetornar">
      <http:operation location="/CCFVExportacaoRetornar" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="wsCial">
    <port name="wsCialSoap" binding="s0:wsCialSoap">
      <soap:address location="http://centralnet/wsAcontep.Net/Intranet/wsCial.asmx" />
    </port>
    <port name="wsCialHttpGet" binding="s0:wsCialHttpGet">
      <http:address location="http://centralnet/wsAcontep.Net/Intranet/wsCial.asmx" />
    </port>
    <port name="wsCialHttpPost" binding="s0:wsCialHttpPost">
      <http:address location="http://centralnet/wsAcontep.Net/Intranet/wsCial.asmx" />
    </port>
  </service>
</definitions>